:root {
  --sidebar-max-width: 200px;

  --global-backgroup-color: #383a3f;
  --header-margin-bottom: 10px;
  --header-padding: 20px;
}

/* Основная структура страницы */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100vh;
}

/* Контейнер для Sidebar и Main content */
.main-container {
  display: flex;
  width: 100%;
  height: 100%;

}

.main-content {
  display: flex;
  flex: 1;
  width: 100vh;
  height: 100%;
}

body {
  background-color: var(--global-backgroup-color); /* Светло-серый цвет */
  margin: 0; /* Удаляет отступы по умолчанию */
  color: #333; /* Цвет текста, чтобы он хорошо сочетался с серым фоном */
}