.board {
    display: flex;
    justify-content: flex-start;
    background-color: #383a3f;
    padding: 20px;
    gap: 20px;
    overflow-x: auto;
    flex-wrap: nowrap;
    margin-bottom: 20px;
    width: 100%;
  }

  .column {
    flex: 1 0 auto; 
    width: 300px;
    background-color: rgba(0, 0, 0, 0);
    max-width: 300px;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
  }

  .dragableColumn {
    flex: 1 0 auto; 
    width: 300px;
    background-color: #222427;
    max-width: 300px;
    border: 2px solid rgb(197, 186, 156);
    opacity: 0.3;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .columnTitle {
    background-color: #222427;
    resize: none;
    min-height: 50px;
    padding: 0px 0px 0px 10px;
    border-radius: 10px;
    font-size: 14px;
    color: white;
    margin-bottom: 15px;
  }

  .textAreaTaskAdd {
    background-color: #222427;
    border: none;
    align-content: center;
    resize: none;
    min-height: 50px;
    padding: 0px 0px 0px 10px;
    border-radius: 10px;
    font-size: 14px;
    color: white;
    margin-bottom: 15px;
  }

  .columnTitle h2 {
    font-weight: normal;
    font-size: 18px;
  }
  
  .task {
    background-color: #404247;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s;
    min-height: 70px;
    text-align: left;
    align-content: center;
  }

  .dragableTask {
    background-color: #383a3f;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;   
    opacity: 0.4;
    border: 1px solid rgb(197, 186, 156);
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s;
    min-height: 70px;
    text-align: left;
    align-content: center;
  }
  
  .board::-webkit-scrollbar {
    height: 8px;
  }
  
  .board::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .board::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  .board::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .fullWidthInput {
    background-color: #222427;
    min-height: 50px;
    padding: 0px 0px 0px 10px;
    border-radius: 10px;
    font-size: 14px;
    color: white;
    margin-bottom: 15px;
  }
  
  .fullWidthInput::placeholder {
    border: none;
    color: white;
    opacity: 1;
  }