.board {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    gap: 20px;
    overflow-x: auto;
    flex-wrap: nowrap;
    margin-bottom: 20px;
  }
  
  /* Стили для каждой колонки */
  .column {
    flex: 1 0 auto; 
    width: 300px;
    background-color: #383a3f;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
  }

  .dragableColumn {
    flex: 1 0 auto; 
    width: 300px;
    background-color: #222427;
    border: 2px solid red;
    opacity: 0.3;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  /* Заголовок колонки */
  .columnTitle {
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin-bottom: 15px;          /* Отступ снизу */
  }
  
  /* Стили для задачи */
  .task {
    background-color: #60636c;     /* Белый фон для задачи */
    padding: 15px;               /* Отступы внутри задачи */
    margin-bottom: 10px;         /* Отступ между задачами */
    border-radius: 5px;          /* Закругленные углы */
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень для задач */
    cursor: pointer;            /* Курсор при наведении */
    transition: background-color 0.3s; /* Плавное изменение фона */
    min-height: 60px;
    text-align: left;
    align-content: center;
  }

  .dragableTask {
    background-color: #3b3c41;     /* Белый фон для задачи */
    padding: 15px;               /* Отступы внутри задачи */
    margin-bottom: 10px;         /* Отступ между задачами */
    border-radius: 5px;   
    opacity: 0.4;
    border: 1px solid red;       /* Закругленные углы */
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень для задач */
    cursor: pointer;            /* Курсор при наведении */
    transition: background-color 0.3s; /* Плавное изменение фона */
    min-height: 60px;
    text-align: left;
    align-content: center;
  }
  
  
  /* Стили для контейнера с горизонтальной прокруткой */
  .board::-webkit-scrollbar {
    height: 8px;                /* Высота ползунка */
  }
  
  .board::-webkit-scrollbar-track {
    background: #f1f1f1;        /* Цвет фона полосы прокрутки */
  }
  
  .board::-webkit-scrollbar-thumb {
    background: #888;           /* Цвет ползунка */
    border-radius: 10px;         /* Закругленные углы ползунка */
  }
  
  .board::-webkit-scrollbar-thumb:hover {
    background: #555;           /* Цвет ползунка при наведении */
  }