/* Основные стили для Sidebar */
.sidebar {
    max-width: var(--sidebar-max-width);
    color: white;
    left: 0;
    padding: 20px;
    display: flex;
    margin-right: 10px;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .sidebarHeader {
    margin-bottom: 30px;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    color: #f39c12;
  }
  
  .sidebarContent {
    flex-grow: 1;
  }
  
  .menuList {
    list-style-type: none;
    padding-left: 0;
  }
  
  .menuItem {
    font-size: 18px;
    padding: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .menuItem:hover {
    background-color: #34495e;
  }
  
  .sidebarFooter {
    margin-top: 30px;
    font-size: 16px;
    text-align: center;
  }
  
  .userName {
    color: #ecf0f1;
  }
  
  